<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ApiAutomationTest">
  <test name="RegressionTest">
      
      <classes>
      <class name="com.UsersApi.Request.GetRequestAPI"/>
      <class name="com.UsersApi.Request.PostRequestAPI"/>
      </classes>
  </test> <!-- Test --> 
</suite> <!-- Suite -->